<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
 
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %} 
            <link href="{{asset('/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" > 
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background-image: url({{ asset('/fondo.jpg') }});">
        {% include 'ProyectoProyectoBundle::menu.html.twig' %}
        <div class="container" style="
    background-color: rgba(255,255,255,0.5);
">
                  <div>
                    <h1>Bienvenido al Hotel 5 Estrellas Paradise</h1>
                  </div>
                
            <div class="row">
                <div class="span12">
                    {% block body %}{% endblock %}
                </div>
            </div>
            
            <footer>
                <p>&copy Company {{ '' | date('Y') }}</p>
            </footer>
        </div>     
        
        {% block javascripts %}
            <script src="{{asset('/js/jquery.min.js') }}"></script>
            <script src="{{asset('/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
