{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Habitacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Contnac</th>
                <td>{{ entity.contNac }}</td>
            </tr>
            <tr>
                <th>Continter</th>
                <td>{{ entity.contInter }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ entity.categoria }}</td>
            </tr>
            <tr>
                <th>Camaind</th>
                <td>{{ entity.camaInd }}</td>
            </tr>
            <tr>
                <th>Reservaciones</th>
                <td>{#{ entity.reservaciones }#}</td>
            </tr>
             <div class="col-md-6 col-md-12 form-group">
                <label class="col-sm-3 col-xs-6 control-label">Creaciones</label> 
                <div class="col-xs-12">
                    {% if entity.reservaciones|length > 0 %}
                        {% for iField in entity.reservaciones %} 
                        <p class="form-control-static"><a href="{{ path('pide_show', { 'id': iField.codigo }) }}">{{ iField }}</a></p>{% endfor %}
                    {% else %}
                        <p class="form-control-static alert-warning">Este habitacion no posee reservaciones</p>
                    {% endif %} 
                </div>
            </div>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('habitacion') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
