{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pide</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Finicio</th>
                <td>{{ entity.fInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ffin</th>
                <td>{{ entity.fFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pide') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
