{% trans_default_domain 'FOSUserBundle' %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Cambio de contraseña</h3>
    </div>
    <div class="panel-body">
    <form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger pull-right"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
        <div class="form-group" style="text-align: right;padding-right: 15px;">
            <a class="btn btn-danger" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-arrow-left fa-fw"></i>&nbsp;Cancelar</a>&nbsp;
            <button class="btn btn-default" type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    {{ form_end(form) }}
</div></div>